<section class="about">
  <div class="container">
    <h2 class="about-h2">About <span class="about-h2-span">Us</span></h2>
    <picture>
      <source srcset="./img/about/rectangle6-1x-mob.jpg 1x, ./img/about/rectangle6-2x-mob.jpg 2x" media="(max-width:767px)">
      <source srcset="./img/about/rectangle6-1x-tab.jpg 1x, ./img/about/rectangle6-2x-tab.jpg 2x" media="(min-width:768px)">
      <source srcset="./img/about/rectangle6-1x-pk1280.jpg 1x, ./img/about/rectangle6-2x-pk1280.jpg 2x" media="(min-width:1280px)">
      <source srcset="./img/about/rectangle6-1x-pk1440.jpg 1x, ./img/about/rectangle6-2x-pk1440.jpg 2x" media="(min-width:1440px)">
      <img src="./img/about/rectangle6-1x-tab.jpg" alt="photokamera" width="340" height="704" 
      class="about-img" />
    </picture>
    <p class="about-text1">
    Our photography school is designed to teach you everything you need to know about this magical art. Regardless of your
    experience or skill level, we offer a wide range of courses to suit your needs and interests. Our teaching team consists
    of experienced photographers who have many years of experience in this field. They strive not only to share their
    knowledge, but also to inspire you to develop and express your unique creativity.
    </p>
    <p class="about-text2">
      Our courses cover a wide range of topics, from the basics of photography and equipment use to professional image
      processing and creating impressive compositions. You will have the opportunity to learn the technical aspects of
      photography, discover your own style and develop your own visual language.
    </p>
  </div>
</section>
