<section class="advertisement">
  <div class="advertisement-marquee">
    <div class="advertisement-inner">
      <h2 class="visually-hidden">Hidden</h2>
      <h3 class="advertisement-title">
        Master
        <span class="advertisement-title-span">your photography</span> skills
        with us!
      </h3>
      <h3 class="advertisement-title">
        Master
        <span class="advertisement-title-span">your photography</span> skills
        with us!
      </h3>
    </div>
  </div>
</section>
