<footer class="footer">
  <div class="container">

    <div class = "focus-frame-section">

       <svg class = "logo">

        <use href = "../img/icons.svg#icon-logo"></use>       
        
       </svg>

       <div class = "contacts">


           <p class = "footer-contacts">UK: +38 066 543 8912</p>
           <p class = "footer-contacts">Ukraine, Kyiv</p>

       </div>
    </div>

    <div class = "nav-section">

      <ul class = "social-networks-list">
        <li class = "social-networks-item">
          <p class = "social-networks-name">Instagram</p>
          <p class = "social-networks-name">Facebook</p>
          <p class = "social-networks-name">Youtube</p>

        </li>
      </ul>

      <ul class = "menu-list">
        <li class = "menu-item">
          <p class = "menu-name">About Us</p>
          <p class = "menu-name">Our Courses</p>
          <p class = "menu-name">Our Mentors</p>
          <p class = "menu-name">Rewiews</p>
          <p class = "menu-name">Contacts</p>
  
         </li>


      </ul>

    </div>

    <div class = "footer-form-container">
       <form class = "footer-form">
          <label for = "email" class = "footer-label">
            <input id = "email" name = "email" placeholder = "Enter your email"/>

            <button type = "submit" class = "footer-form-button">
                Go
            </button>


          </label>

       </form>

    </div>
    
    <div class = "last-part">

      <p class = "agreement-text">

        Privacy policy
        Public Offering Agreement

      </p>

      <p class = "rights - text">

        2023 Focus Frame
        © All rights reserved

      </p>



    </div>
    
  </div>
</footer>
