<footer class="footer">
  <div class="container">

    <div class = "footer-frame-section">
       <a class = "footer-logo-svg">
       <svg class = "logo">

        <use href = "../img/icons.svg#icon-logo"></use>       
        
       </svg>
       </a>

       <div class = "footer-contacts">


           <p class = "footer-phone-contacts">UK: +38 066 543 8912</p>
           <p class = "footer-country">Ukraine, Kyiv</p>

       </div>
    </div>

    <div class = "nav-section">

      <ul class = "footer-social-networks-list">
        <li class = "footer-social-networks-item">
          <a href = "./index.html" class = "footer-social-networks-name">Instagram</a> 
        </li>

        <li class = "footer-social-networks-item">
          <a href = "./index.html" class = "footer-social-networks-name">Facebook</a> 
        </li>

        <li class = "footer-social-networks-item">
          <a href = "./index.html" class = "footer-social-networks-name">Youtube</a> 
        </li>


         
      </ul>

      <ul class = "footer-menu-list">
        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-menu-name">About Us</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-menu-name">Our Courses</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-menu-name">Our Mentors</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-menu-name">Reviews</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-menu-name">Contacts </a>
         
        </li>

    


      </ul>

    </div>

    <div class = "footer-form-container">
       <form class = "footer-form">
          <label for = "email" class = "footer-label">
            <input id = "email" name = "email" type = "email" placeholder = "Enter your email"/>

           

          </label>

          <button type = "submit" class = "footer-form-button">
            Go
          </button>


       </form>

    </div>
    
    <div class = "footer-last-part">

      <p class = "agreement-text">

        Privacy policy
        Public Offering Agreement

      </p>

      <p class = "rights - text">

        2023 Focus Frame
        © All rights reserved

      </p>



    </div>

  </div>
</footer>
