<footer class="footer">
  <div class="container">

    <div class = "footer-frame-section">

       <a class = "footer-logo-svg">
          <svg class = "footer-logo" width = 123 height = 16>

             <use href = "../img/icons.svg#icon-logo"></use>       
        
          </svg>
       </a>

       <div class = "footer-contacts">
          <address class = "footer-address">

           <a href = "tel:+380665438912" class = "footer-phone-contacts">UK: +38 066 543 8912</a>
           <p class = "footer-country">Ukraine, Kyiv</p>

          </address>

       </div>

    </div>

    <div class = "footer-nav-section">

      <ul class = "footer-soc-list">

        <li class = "footer-soc-item">
          <a href = "https://www.instagram.com/goitclub/" class = "footer-soc-name">Instagram</a> 
        </li>

        <li class = "footer-soc-item">
          <a href = "https://www.facebook.com/golTclub/" class = "footer-soc-name">Facebook</a> 
        </li>

        <li class = "footer-soc-item">
          <a href = "https://www.youtube.com/c/GolT" class = "footer-soc-name">Youtube</a> 
        </li>


         
      </ul>

      <ul class = "footer-menu-list">
        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-soc-name">About Us</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-soc-name">Our Courses</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-soc-name">Our Mentors</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-soc-name">Reviews</a>
        </li>

        <li class = "footer-menu-item">
          <a href = "./index.html" class = "footer-soc-name">Contacts </a>
         
        </li>

    


      </ul>

    </div>

    <div class = "footer-form-container">
       <form class = "footer-form">
          <label for = "email" class = "footer-label">
            <input id = "email" name = "email" type = "email" placeholder = "Enter your email" class = "footer-input"/>

           

          </label>

          <button type = "submit" class = "footer-form-button">
            Go
          </button>


       </form>

    </div>
    
    <div class = "footer-last-part">

      <p class = "footer-agreement-text">

        Privacy policy</br>
        Public Offering Agreement

      </p>

      <p class = "footer-rights-text">

        2023 Focus Frame
        © All rights reserved

      </p>



    </div>

  </div>
</footer>
