<header class="header">
  <div class="container header-container">
    <div class="header-item">
      <nav class="header-navigation">
        <a href="" class="header-link-logo">
          <svg width="123" height="16" class="header-icon-logo">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-nav">
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Contacts</a>
          </li>
        </ul>

        <a href="#" class="header-camera">
          <svg width="16" height="16" class="header-camera-item">
            <use href="./img/icons.svg#icon-header-camera"></use>
          </svg>
        </a>
        <button class="header-btn-menu" type="button">
          <svg width="32" height="22" class="header-btn-menu-item">
            <use href="./img/icons.svg#icon-menu-open"></use>
          </svg>
        </button>
      </nav>
    </div>
    <button class="header-btn" type="button">Sign up</button>
  </div>
  <div class="header-menu is-open">
    <div class="header-menu-item">
      <button type="button" class="header-btn-esc">
        <svg height="32" width="32" class="header-btn-esc-item">
          <use href="./img/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <ul class="header-nav-menu">
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">About us</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Our courses</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Our mentors</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Reviews</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
