<header class="header">
  <div class="container">
    <div class="header-item">
      <nav class="navigation">
        <svg width="123.119" height="16.248" class="header-icon-logo">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <ul class="header-nav">
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Contacts</a>
          </li>
        </ul>
        <button class="btn-sing-up" type="button">
          <svg width="16" height="16">
            <use href="./img/icons.svg#icon-header-camera"></use>
          </svg>
        </button>
        <button class="btn-menu" type="button"></button>
      </nav>
    </div>
    <button class="header-btn" type="button">Sign up</button>
  </div>
  <div class="header-menu">
    <div class="header-menu-item">
      <ul class="header-nav-menu">
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">About us</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Our courses</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Our mentors</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">Reviews</a>
        </li>
        <li class="header-nav-list-mob">
          <a href="#" class="header-nav-link-mob">contacts</a>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/Rectangle-tab.jpg 1x, ./img/Rectangle-tab-2x.jpg 2x"
          width="476"
          height="480"
          media="(min-width:768px)"
        />
        <source
          srcset="./img/Rectangle-mob.jpg 1x, ./img/Rectangle-mob-2x.jpg 2x"
          width="329"
          height="219"
          media="(min-width:320px)"
        />
        <img
          src="./img/Rectangle-tab.jpg"
          alt="camera"
          width="476"
          height="480"
          class="img-menu"
        />
      </picture>
    </div>
  </div>
</header>
