<section class="hero">
  <div class="">
    <h1>Discover the magic of <span>photography</span> in our school</h1>
    <p>Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
    <ul>
      <li>
        <div><img src="/img/hero/hero-happy-img-1-mob.jpg" alt="course student"></div>
      </li>
      <li>
        <div><img src="/img/hero/hero-happy-img-2-mob.jpg" alt="course student"></div>
      </li>
      <li>
        <div><img src="/img/hero/hero-happy-img-3-mob.jpg" alt="course student"></div>
      </li>
      <a href="">Our happy students</a>
      <svg class="hero-arrow">
        <use href="/img/icons.svg#icon-hero-vector"></use>
      </svg>
    </ul>
    <div>
      <svg>
        <use href="/img/icons.svg#icon-reviews-star"></use>
      </svg>
      <div>
        <p>Reviews</p>
        <p>+1500</p>
      </div>
    </div>
    <img src="/img/hero/hero-photographer-img.png" alt="">
  </div>
</section>
