<section class="reviews">
  <div class="container-reviews">
    <h2>Reviews</h2>
    <ul class="reviews-menu">
      <li class="reviews-menu-list">
        <div class="student-card">
          <div>
            <img src="/img/reviews/student-one.jpg" alt="Abraham Baker" width="56" height="56">
          <h3 class="student-name">Abraham Baker</h3>
          <p>Student</p>
        </div>
          <p>I am very pleased that I decided to enroll in photography school. The teachers turned out to be very 
            talented and experienced professionals who share their knowledge and are dedicated to their work. I was able 
            to expand my skills and discover my own style.</p>
        </div>
      </li>
      <li class="reviews-menu-list">
        <div class="student-card">
          <div>
            <img src="/img/reviews/student-two.jpg" alt="Amanda Lowery" width="56" height="56">
            <h3 class="student-name">Amanda Lowery</h3>
            <p>Student</p>
          </div>
          
          <p>The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, 
            but also inspiration and motivation to reach new heights in my creativity. 
            Hands-on classes and workshops helped me understand different styles of photography.</p>
        </div>
      </li>


  </div>

</section>