<section class="sign">
  <div class="container">
    <h2 class="sign-title">Sign <span>Up</span></h2>
    <p class="sign-desc">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form action="" class="sign-form">
      <div class="sign-input-wrap">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
        <textarea name="coment" id="coment" placeholder="Message"></textarea>
      </div>

      <button type="submit" class="sign-button">Send</button>
      <p class="sign-policy-text">
        By clicking on “Send” button, you agree to our
        <a href="" class="sign-link">Privacy Policy</a>, and allow Promodo to
        use this information for marketing purposes.
      </p>
    </form>
  </div>
</section>
