<section class="sign">
  <div class="container">
    <div class="sign-wrap">
      <h2 class="sign-title">Sign <span>Up</span></h2>
      <p class="sign-desc">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <div class="sign-input-wrap">
          <input
            type="text"
            name="name"
            id="name"
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
            placeholder="Enter your name"
          />
          <input
            type="email"
            name="email"
            id="email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            placeholder="Enter your email"
          />
          <textarea name="coment" id="coment" placeholder="Message"></textarea>
        </div>

        <button type="submit" class="sign-button">Send</button>
        <p class="sign-policy-text">
          By clicking on “Send” button, you agree to our
          <a href="" class="sign-link">Privacy Policy</a>, <br />and allow
          Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-img">
      <div class="lens-img-wrap">
        <img
          srcset="./img/sign/lens-1x.png 1x, ./img/sign/lens-2x.png 2x"
          src="./img/sign/lens-1x.png"
          width="150"
          height="142"
          alt="camera lens"
        />
      </div>
      <div class="camera-img-wrap">
        <img
          srcset="
            ./img/sign/sign-camera-1x.png 1x,
            ./img/sign/sign-camera-2x.png 2x
          "
          src="./img/sign/sign-camera-1x.png"
          width="240"
          alt="camera"
        />
      </div>
    </div>
  </div>
</section>
