.about {
  margin-top: 80px;
  margin-bottom: 80px;
}

    .container-about {
    margin: 0;
    }
  
    .about-h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.04em;

    }
  
    .about-h2-span {color: #BEA69E;
      }

    .about-img {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .about-text-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .about-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.29;
      letter-spacing: -0.02em;
    }

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
  .about-h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.13;
  }

    .about-img {
      padding-top: 50px;
      padding-bottom: 50px;
    }

.about-text-wrap {
display: flex;
flex-direction: row;
gap: 40px;
}

  .about-text {
  font-size: 16px;
  line-height: 1.25;
  width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
.about {
  margin-top: 150px;
  margin-bottom: 150px;
}
.about-wrap-desktop {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.about-text-wrap {
  gap: 20px;
}
.about-img {
padding-bottom: 0px;
}
}

@media screen and (min-width: 1440px) {
  .about-text-wrap {
      gap: 40px;
    }
  .about-wrap-desktop {
  gap: 50px;
  }
}