/*---------------------------- Section 4 courses ----------------------------*/
.courses {}

.title-courses {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.07em;
  margin-bottom: 20px;
}

.title-courses span {
  color: #BEA69E;
}

.courses-desc {
  margin-bottom: 40px;

}

/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}