/*---------------------------- Section 4 courses ----------------------------*/
.courses {
  padding-top: 80px;
}

.title-courses {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.07em;
  margin-bottom: 20px;
}

.title-courses span {
  color: #BEA69E;
}

.courses-desc {
  margin-bottom: 40px;
}

.course-item {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}

.course-card {
  padding: 28px;
}

.item-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}

.item-descr {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

.courses-icon {
  fill: #777777;
}



/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}