/*---------------------------- Header ----------------------------*/
.header {
  
}
.header-item{
  width: 335px;
    height: 50px;
    flex-shrink: 0;
  border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #121212;
}
.header-icon-logo{
  fill: #fff;
  width: 127px;
    height: 20px;
    flex-shrink: 0;
}
.header-nav{
display: none;
}
.header-nav-list{
  color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header-btn{
 display: none;
}
.header-btn-menu{
  background-color: transparent;
    border: none;
    margin: auto;
}
.header-btn-menu-item{
  background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.header-camera{
  width: 100%;
    height: 100%;
    background-color: #1D1D1D;
    border-radius: 50%;
}
/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .header-item{
    width: 504px;
      height: 60px;
      flex-shrink: 0;
  }
  .header-icon-logo{
    width: 123px;
      height: 16px;
      flex-shrink: 0;
  }
  .header-btn{
    display: inline-flex;
      padding: 16px 58px;
      justify-content: center;
      align-items: center;
      color: #121212;
      font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.55;
        /* 155.556% */
        text-transform: uppercase;
        border-radius: 12px;
          background: #FFF;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
  .header-item{
    width: 822px;
      height: 60px;
      flex-shrink: 0;
  }
  .header-nav{
    display: block;
  }
.header-btn{
    padding: 16px 84px;
   
}
}
