/*---------------------------- Section 1 hero ----------------------------*/

.hero {
  padding-top: 20px;
  padding-bottom: 80px;
}

.hero-wrap {
  background-color: gray;
}

.hero-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1; 
  letter-spacing: -0.04em;
}

.hero-title span {
  font-style: italic;
  color: #BEA69E;
  font-weight: 400;
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; 
  letter-spacing: -0.02em;
}

.hero-students-item {
  width: 44px;
  height: 44px;
}

.hero-students-thumb {
  border-radius: 50%;
  overflow: hidden;
}

.hero-students-link {
  color: #FFF;
  font-size: 14px;
  line-height: 1.28; 
  letter-spacing: -0.04em; 
}

.hero-students-icon {
  fill: #ffffff;
}

.hero-review-icon-container {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #BEA69E;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.hero-review-icon {
  fill: transparent;
  stroke: #121212;
}

.hero-review-subtitle {
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; 
  letter-spacing: -0.04em;
}

.hero-review-number {
  color: #FFF;
  font-weight: 500;
  line-height: 1.1; 
  letter-spacing: -0.04em;
}

/*---------------------------- Adaptive tablet ----------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*---------------------------- Adaptive desktop ----------------------------*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
